form p, .user-pass-wrap {
	display: none;
}

form p.submit, form p.admin-email__details {
	display: block;
}

form p.submit .button-primary {
	display: block;
	float: none;
	font-size: 1.2rem;
	width: 100%;
}


.username {
	font-weight: bold;
}